<div class="container-md">
    <div class="d-flex justify-content-between mt-3">
        <span class="text-2xl">
            แชท / การซื้อขาย
        </span>
        <button class="btn btn-outline-primary d-flex justify-content-center align-items-center gap-2" (click)="OpenCreateDealDialog()">
            <i class="fa-solid fa-comment-medical"></i>
            เริ่มแชทใหม่
        </button>
    </div>
    <div class="card-chat">
        @for (chatRoom of ChatRooms; track $index) {
        @let room = AppStateService.allChatRooms().find(r => r.ChatRoomId === chatRoom.ChatRoomId);

        @if (room) {
        <div class="card-chat-item cursor-pointer" (click)="NavigateTo(`chat-room/${chatRoom.ChatRoomId}`)">
            <div class="d-flex gap-3 align-items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="avatar">
                <div class="chat-info">
                    <h5 class="mb-1">{{ chatRoom.UserName }}</h5>
                    <p class="mb-0 text-muted">{{ room.LastMessage }}</p>
                </div>
            </div>

            <div class="d-flex flex-column align-items-end">
                <span class="text-muted text-base">
                    {{ room.LastMessageAt | date:'shortTime' }}
                </span>

                @if (room.CountUnread > 0) {
                <span class="custom-badge text-sm">
                    {{ room.CountUnread }}
                </span>
                }
            </div>
        </div>
        }
        }
    </div>
</div>