<div class="dialog">
    <div class="dialog-header">
        <div class="text-3xl font-medium text-center">สร้างดีลใหม่</div>
    </div>
    <div class="dialog-body">
        <div class="d-flex flex-column gap-3 mt-3">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-tag"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="dealTitle" placeholder="หัวข้อดีล/ชื่อสินค้า" [(ngModel)]="title" />
                    <label for="dealTitle">หัวข้อดีล / ชื่อสินค้า</label>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-money-bill-wave"></i>
                </span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="dealAmount" placeholder="จำนวนเงิน (บาท)" [(ngModel)]="amount" min="1" />
                    <label for="dealAmount">จำนวนเงิน (บาท)</label>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-align-left"></i>
                </span>
                <div class="form-floating">
                    <textarea class="form-control" id="dealDescription" placeholder="รายละเอียดดีล/สินค้า" [(ngModel)]="description" style="height: 100px;"></textarea>
                    <label for="dealDescription">รายละเอียดดีล / สินค้า</label>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <button class="swal2-cancel" (click)="close()">ยกเลิก</button>
        <button class="swal2-confirm" (click)="submit()">สร้างดีล</button>
    </div>
</div>